* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

.container {
  background-color: #000;
  width: 100vw;
  min-width: none;height: 100vh;
}

.header {
  background-color: #d14200;
  width: 60%;
  border-radius: 0px 20px 20px 0px;
}

.heading {
  font-size: 48px;
  color: #ffffff;
  padding: 50px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.inputSection {
  width: 50%;
}

.inputForm {
  margin-bottom: 50px;
}

.inputRepresentation {
  display: block;
  margin-bottom: 15px;
}

.input{
  background-color: #000;
  padding: 20px;
  width: 70%;
  border: 1px solid #cf6020;
  outline: none;
  font-size: 24px;
  border-radius: 5px;
}

.selectInput * {
  color: #ffffff;
  background-color: #000;
  border: none;
  outline: none;
}



.textArea {
  background-color: #000;
  resize: none;
  border: 1px solid #cf6020;
  outline: none;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
}

.submitButton {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitBtn {
  background-color: #cf6020;
  padding: 20px 70px;
  text-align: center;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  margin-top: 100px;
  cursor: pointer;
}

#errormsg {
  margin-top: 15px;
  display: block;
  color: #d14200;
}


/* remove up and down arrow in input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}